.button {
  border-color: #666;
  color: #666;
  font-family: 'Roboto';
  font-weight: 400;
  background: #fff;
  padding: 0.76em 1.24em;
  border: 1px solid #666;
  cursor: pointer;
  border-radius: 0.2em;
  text-transform: uppercase;
  font-size: 0.8em;
  transition: background 0.12s ease-in-out;
  transition-property: background, box-shadow, transform, background-color;
  box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.2); }
  .button:hover {
    background-color: rgba(102, 102, 102, 0.05); }
  .button:active {
    background-color: rgba(87, 87, 87, 0.1);
    box-shadow: 0 4px 4px -3px rgba(0, 0, 0, 0.3);
    transform: translateY(0.3px); }
  .button.button-filled {
    background-color: #666;
    border-color: #5e5e5e;
    color: #fff; }
    .button.button-filled:hover {
      background-color: #595959;
      border-color: #595959; }
    .button.button-filled:active {
      background-color: #525252;
      border-color: #525252;
      color: #fafafa; }
  .button.button-light {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none; }
    .button.button-light:hover {
      background-color: rgba(102, 102, 102, 0.05); }
    .button.button-light:active {
      background-color: rgba(87, 87, 87, 0.1); }
  .button:focus {
    outline: none; }

/* size */
.button-large {
  font-size: 1em; }

.button-small {
  font-size: 0.6em; }

/* thickness */
.button-thin {
  padding: 0.47em 1.24em; }

.button-fat {
  padding: 1.23em 1.24em; }

/* radius */
.button-sharp {
  border-radius: 1px; }

.button-rounded {
  border-radius: 0.4em; }

/* display */
.button-block {
  display: block;
  width: 100%; }

/* variants */
.button-success {
  border-color: #8BC34A;
  color: #8BC34A; }
  .button-success:hover {
    background-color: rgba(139, 195, 74, 0.05); }
  .button-success:active {
    background-color: rgba(124, 179, 59, 0.1);
    box-shadow: 0 4px 4px -3px rgba(0, 0, 0, 0.3);
    transform: translateY(0.3px); }
  .button-success.button-filled {
    background-color: #8BC34A;
    border-color: #84bf3f;
    color: #fff; }
    .button-success.button-filled:hover {
      background-color: #7eb73d;
      border-color: #7eb73d; }
    .button-success.button-filled:active {
      background-color: #76ab39;
      border-color: #76ab39;
      color: #fafafa; }
  .button-success.button-light {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none; }
    .button-success.button-light:hover {
      background-color: rgba(139, 195, 74, 0.05); }
    .button-success.button-light:active {
      background-color: rgba(124, 179, 59, 0.1); }

.button-warning {
  border-color: #FF9800;
  color: #FF9800; }
  .button-warning:hover {
    background-color: rgba(255, 152, 0, 0.05); }
  .button-warning:active {
    background-color: rgba(224, 134, 0, 0.1);
    box-shadow: 0 4px 4px -3px rgba(0, 0, 0, 0.3);
    transform: translateY(0.3px); }
  .button-warning.button-filled {
    background-color: #FF9800;
    border-color: #f08f00;
    color: #fff; }
    .button-warning.button-filled:hover {
      background-color: #e68900;
      border-color: #e68900; }
    .button-warning.button-filled:active {
      background-color: #d68000;
      border-color: #d68000;
      color: #fafafa; }
  .button-warning.button-light {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none; }
    .button-warning.button-light:hover {
      background-color: rgba(255, 152, 0, 0.05); }
    .button-warning.button-light:active {
      background-color: rgba(224, 134, 0, 0.1); }

.button-danger {
  border-color: #f44336;
  color: #f44336; }
  .button-danger:hover {
    background-color: rgba(244, 67, 54, 0.05); }
  .button-danger:active {
    background-color: rgba(242, 40, 25, 0.1);
    box-shadow: 0 4px 4px -3px rgba(0, 0, 0, 0.3);
    transform: translateY(0.3px); }
  .button-danger.button-filled {
    background-color: #f44336;
    border-color: #f33527;
    color: #fff; }
    .button-danger.button-filled:hover {
      background-color: #f32c1e;
      border-color: #f32c1e; }
    .button-danger.button-filled:active {
      background-color: #f21f0f;
      border-color: #f21f0f;
      color: #fafafa; }
  .button-danger.button-light {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none; }
    .button-danger.button-light:hover {
      background-color: rgba(244, 67, 54, 0.05); }
    .button-danger.button-light:active {
      background-color: rgba(242, 40, 25, 0.1); }

.button-secondary {
  border-color: #2196F3;
  color: #2196F3; }
  .button-secondary:hover {
    background-color: rgba(33, 150, 243, 0.05); }
  .button-secondary:active {
    background-color: rgba(13, 135, 233, 0.1);
    box-shadow: 0 4px 4px -3px rgba(0, 0, 0, 0.3);
    transform: translateY(0.3px); }
  .button-secondary.button-filled {
    background-color: #2196F3;
    border-color: #128ff2;
    color: #fff; }
    .button-secondary.button-filled:hover {
      background-color: #0d8aee;
      border-color: #0d8aee; }
    .button-secondary.button-filled:active {
      background-color: #0c82df;
      border-color: #0c82df;
      color: #fafafa; }
  .button-secondary.button-light {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none; }
    .button-secondary.button-light:hover {
      background-color: rgba(33, 150, 243, 0.05); }
    .button-secondary.button-light:active {
      background-color: rgba(13, 135, 233, 0.1); }

#intro {
  background-color: #0c82df;
  padding: 30px;
  color: #fafafa;
  text-align: center; }
  #intro p {
    font-weight: normal;
    font-size: 3.5em;
    margin: 0; }
  #intro p + p {
    font-size: 2.5em;
    font-weight: 300; }
  #intro s {
    position: relative;
    text-decoration: none; }
    #intro s:after {
      content: '';
      top: 50%;
      left: 0;
      width: 100%;
      background-color: rgba(51, 51, 51, 0.99);
      height: 13px;
      position: absolute;
      transform: rotate(15deg); }

.container {
  width: 960px;
  margin: 0 auto; }

.row {
  display: flex;
  margin: 0 -15px; }

.col {
  flex: 1;
  padding: 15px; }
  .col.h-center {
    text-align: center; }
  .col.v-center {
    align-self: center; }

.center {
  text-align: center; }

body {
  margin: 0;
  background-color: #fff;
  font-family: Catamaran, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #444; }

.text {
  line-height: 1.5; }

.articles {
  display: flex;
  margin: 0 -15px;
  text-align: left; }
  .articles h2 {
    font-size: 1.3em;
    text-transform: uppercase;
    margin: 0;
    font-weight: 300; }
  .articles article {
    flex: 1;
    margin: 15px; }
    .articles article.bordered {
      border: 1px solid #666;
      border-radius: 0.2em;
      padding: 15px; }

.header-bar {
  background-color: #0c82df;
  height: 3px; }

.teaser {
  display: flex;
  align-items: center; }
  .teaser h1 {
    font-size: 1.8em;
    text-transform: uppercase;
    font-weight: 300;
    margin: 0; }
  .teaser div {
    flex: 1; }
  .teaser div:last-child {
    text-align: right;
    flex: none; }

.title {
  font-size: 2em;
  font-weight: 300;
  margin: 0.5em 0; }

.line {
  height: 10px;
  background-color: #666;
  margin: 10px 0; }
  .line:nth-child(1) {
    width: 99%; }
  .line:nth-child(2) {
    width: 99%; }
  .line:nth-child(3) {
    width: 96%; }
  .line:nth-child(4) {
    width: 99%; }
  .line:nth-child(5) {
    width: 100%; }
  .line:nth-child(6) {
    width: 97%; }
  .line:nth-child(7) {
    width: 97%; }
  .line:nth-child(8) {
    width: 97%; }
  .line:nth-child(9) {
    width: 98%; }
  .line:nth-child(10) {
    width: 98%; }
  .line:last-child {
    width: 54%; }

.background {
  padding: 2em; }

.background-inverse {
  background-color: #333;
  color: #fff; }

.section-title {
  font-size: 3em;
  margin: 0.3em 0; }

.demo-section {
  padding: 30px 0;
  border-bottom: 1px solid #f0f0f0; }
  .demo-section h2 {
    font-weight: 300;
    font-size: 2em;
    margin: 0.5em 0; }
  .demo-section:first-of-type {
    padding-top: 0; }
