.button {
  border-color: #666;
  color: #666;
  font-family: 'Roboto';
  font-weight: 400;
  background: #fff;
  padding: 0.76em 1.24em;
  border: 1px solid #666;
  cursor: pointer;
  border-radius: 0.2em;
  text-transform: uppercase;
  font-size: 0.8em;
  transition: background 0.1s ease-in-out; }
  .button.button-filled {
    background-color: #666;
    color: #fff; }
  .button.button-filled:hover {
    background-color: #595959;
    border-color: #595959; }
  .button.button-filled:active {
    background-color: #525252;
    border-color: #525252;
    color: #fafafa; }
  .button:hover {
    background-color: rgba(102, 102, 102, 0.05); }
  .button:active {
    background-color: rgba(87, 87, 87, 0.1); }
  .button:focus {
    outline: none; }

/* size */
.button-large {
  font-size: 1em; }

.button-small {
  font-size: 0.6em; }

.button-block {
  display: block;
  width: 100%; }

.button-success {
  border-color: #8BC34A;
  color: #8BC34A; }
  .button-success.button-filled {
    background-color: #8BC34A;
    color: #fff; }
  .button-success.button-filled:hover {
    background-color: #7eb73d;
    border-color: #7eb73d; }
  .button-success.button-filled:active {
    background-color: #76ab39;
    border-color: #76ab39;
    color: #fafafa; }
  .button-success:hover {
    background-color: rgba(139, 195, 74, 0.05); }
  .button-success:active {
    background-color: rgba(124, 179, 59, 0.1); }

.button-warning {
  border-color: #FF9800;
  color: #FF9800; }
  .button-warning.button-filled {
    background-color: #FF9800;
    color: #fff; }
  .button-warning.button-filled:hover {
    background-color: #e68900;
    border-color: #e68900; }
  .button-warning.button-filled:active {
    background-color: #d68000;
    border-color: #d68000;
    color: #fafafa; }
  .button-warning:hover {
    background-color: rgba(255, 152, 0, 0.05); }
  .button-warning:active {
    background-color: rgba(224, 134, 0, 0.1); }

.button-danger {
  border-color: #E91E63;
  color: #E91E63; }
  .button-danger.button-filled {
    background-color: #E91E63;
    color: #fff; }
  .button-danger.button-filled:hover {
    background-color: #d81558;
    border-color: #d81558; }
  .button-danger.button-filled:active {
    background-color: #ca1452;
    border-color: #ca1452;
    color: #fafafa; }
  .button-danger:hover {
    background-color: rgba(233, 30, 99, 0.05); }
  .button-danger:active {
    background-color: rgba(212, 21, 86, 0.1); }

.button-secondary {
  border-color: #2196F3;
  color: #2196F3; }
  .button-secondary.button-filled {
    background-color: #2196F3;
    color: #fff; }
  .button-secondary.button-filled:hover {
    background-color: #0d8aee;
    border-color: #0d8aee; }
  .button-secondary.button-filled:active {
    background-color: #0c82df;
    border-color: #0c82df;
    color: #fafafa; }
  .button-secondary:hover {
    background-color: rgba(33, 150, 243, 0.05); }
  .button-secondary:active {
    background-color: rgba(13, 135, 233, 0.1); }

body {
  margin: 0;
  background-color: #fff;
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.container {
  width: 960px;
  margin: 0 auto; }

.articles {
  display: flex;
  margin: 0 -15px;
  text-align: left; }
  .articles h2 {
    font-size: 1.3em;
    text-transform: uppercase;
    margin: 0;
    font-weight: 300; }
  .articles article {
    flex: 1;
    margin: 15px; }
    .articles article.bordered {
      border: 1px solid #666;
      border-radius: 0.2em;
      padding: 15px; }

.header-bar {
  background-color: #333;
  height: 3px; }

.teaser {
  display: flex;
  align-items: center; }
  .teaser h1 {
    font-size: 1.8em;
    text-transform: uppercase;
    font-weight: 300;
    margin: 0; }
  .teaser div {
    flex: 1; }
  .teaser div:last-child {
    text-align: right;
    flex: none; }

.title {
  font-size: 3em;
  font-weight: 300;
  margin: 1em 0; }

.line {
  height: 10px;
  background-color: #666;
  margin: 10px 0; }
  .line:nth-child(1) {
    width: 100%; }
  .line:nth-child(2) {
    width: 100%; }
  .line:nth-child(3) {
    width: 96%; }
  .line:nth-child(4) {
    width: 99%; }
  .line:nth-child(5) {
    width: 98%; }
  .line:nth-child(6) {
    width: 98%; }
  .line:nth-child(7) {
    width: 100%; }
  .line:nth-child(8) {
    width: 96%; }
  .line:nth-child(9) {
    width: 98%; }
  .line:nth-child(10) {
    width: 100%; }
  .line:last-child {
    width: 36%; }

.background {
  padding: 2em; }

.background-inverse {
  background-color: #333;
  color: #fff; }
