@mixin a11y-circles($color) {
    background:
    radial-gradient(circle at 0% 50%, transparent 9px, $color 10px, transparent 11px) 0px 10px,
    radial-gradient(at 100% 100%, transparent 9px, $color 10px, transparent 11px);
    background-size: 20px 20px;
}

@mixin a11y-squares($color) {
    background: linear-gradient(135deg, $color 25%, transparent 25%) -50px 0,
        linear-gradient(225deg, $color 25%, transparent 25%) -50px 0,
        linear-gradient(315deg, $color 25%, transparent 25%),
        linear-gradient(45deg, $color 25%, transparent 25%);
    background-size: 1.414em 1.414em;
    background-position: -25px -25px;
}

@mixin a11y-triangles($color) {
    background: linear-gradient(135deg, $color .25em, transparent 0);
    background-repeat: repeat;
    background-size: 0.75em / sqrt(2) 0.75em / sqrt(2);
}

@mixin a11y-lines($color) {
    background: repeating-linear-gradient(-45deg,
      transparent 0,
      $color 1px,
      $color .25em,
      transparent calc(.25em + 1px),
      transparent .75em
    );
}
