// focus
// disabled
// pressed
// merged
// pagination
// toolbar
// ARIA
// accessibility / color blidness
// playground

@mixin button-variant($color) {
    border-color: $color;
    color: $color;

    &:hover {
        background-color: fade-out($color, 0.95);
    }

    &:active {
        background-color: fade-out(darken($color, 6%), 0.9);
        box-shadow: 0 4px 4px -3px fade-out(#000, 0.7);
        transform: translateY(0.3px);
    }

    &:focus {
        outline: none;
        box-shadow: 0 4px 4px -3px fade-out(#000, 0.5), 0 0 2px 1px $color;
    }

    // &:disabled {
    //     color: lighten(desaturate($color, 10%), 25%);
    //     border-color: lighten(desaturate($color, 10%), 20%);
    //     cursor: not-allowed;
    //     box-shadow: none;
    // }

    &.button-filled {
        background-color: $color;
        border-color: darken($color, 3%);
        color: #fff;
        text-shadow: 0 1px 0 rgba(0,0,0,0.2);

        &:hover {
            background-color: darken($color, 5%);
            border-color: darken($color, 5%);
        }

        &:active {
            background-color: darken($color, 8%);
            border-color: darken($color, 8%);
            color: #fafafa;
        }
    }

    &.button-light {
        background-color: transparent;
        border-color: transparent;
        box-shadow: none;

        &:hover {
            background-color: fade-out($color, 0.95);
        }

        &:active {
            background-color: fade-out(darken($color, 6%), 0.9);
        }

        &:focus {
            box-shadow: 0 4px 10px -4px fade-out(#000, 0.7);
        }
    }
}

.button {
    @include button-variant(#666);
    font-family: 'Roboto';
    font-weight: 400;
    background: #fff;
    padding: 0.76em 1.24em;
    border: 1px solid #666;
    cursor: pointer;
    border-radius: 0.2em;
    text-transform: uppercase;
    font-size: $buttonBaseSize;
    line-height: 1em;
    transition: background 0.12s ease-in-out;
    transition-property: background, box-shadow, transform, background-color;
    box-shadow: 0 4px 6px -2px fade-out(#000, 0.8);
    box-sizing: border-box;
    display: inline-block;
}

.button-icon {
    padding: 0.76em 0.76em;

    i {
        font-size: 0.99em;
    }
}

/* size */
.button-large {
    font-size: $buttonBaseSize + 0.2em;
}

.button-small {
    font-size: $buttonBaseSize - 0.2em;
}

/* thickness */
.button-thin {
    padding-top: 0.47em;
    padding-bottom: 0.47em;
}

.button-fat {
    padding: 1.23em 1.24em;
}

/* radius */
.button-sharp {
    border-radius: 1px;
}

.button-rounded {
    border-radius: 0.4em;
}

/* display */
.button-block {
    display: block;
    width: 100%;
}

/* variants */
.button-success {
    @include button-variant($colorSuccess);
}

.button-warning {
    @include button-variant($colorWarning);
}

.button-danger {
    @include button-variant($colorDanger);
}

.button-secondary {
    @include button-variant($colorSecondary);
}
