@import "functions";
@import "buttons/mixins";

.button {
    @include button-variant(#666);
    font-family: 'Roboto';
    font-weight: 400;
    background: #fff;
    padding: 0.76em 1.24em;
    border: 1px solid #666;
    cursor: pointer;
    border-radius: 0.2em;
    text-transform: uppercase;
    font-size: $buttonBaseSize;
    line-height: 1em;
    transition: background 0.12s ease-in-out;
    transition-property: background-image, box-shadow, transform, background-color;
    box-shadow: 0 4px 6px -2px fade-out(#000, 0.8);
    box-sizing: border-box;
    display: inline-block;
    text-decoration: none;
}

@import "buttons/variants";
@import "buttons/merged";
@import "buttons/icon";
@import "buttons/a11y";
@import "buttons/modifiers";
