@import "variables";
@import "buttons";
@import "intro";
@import "grid";
@import "helpers";
@import "color-blindness";

body {
    margin: 0;
    background-color: #fff;
    font-family: Catamaran, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #444;
    margin-top: 25px;
}

.text {
    line-height: 1.5;
}

.header-bar-menu {
    text-align: right;
    padding: 0.2em 0;
    font-size: 0.95em;
    position: fixed;
    height: 25px;
    width: 100%;
    background-color: #fff;
    top: 0;
    border-bottom: 3px solid #0c82df;
    z-index: 1;
    box-shadow: 0 0 5px fade-out(#000, 0.5);
    font-size: 0.75em;
    text-transform: uppercase;

    > div {
        padding-top: 0.35em;
    }

    label {
        margin-right: 10px;
    }

    .pipe::after {
        content: '|';
        color: #d3d3d3;
        margin: 0 10px;
    }
}

select {
    border: 1px solid #F3F3F3;
    background: none;
    padding: 3px;
    border-radius: 0.1em;
    display: inline-block;
    // -webkit-appearance :none;
}

footer {
    background-color: #333;
    color: #fafafa;
    padding: 2em;
    text-align: center;
    font-size: 0.8em;
    text-shadow: 0 1px 0 rgba(0,0,0,0.2);
    box-shadow: 0 5px 10px -5px #000 inset;
}

.articles {
    display: flex;
    margin: 0 -15px;
    text-align: left;
    font-size: 1rem;

    article {
        flex: 1;
        margin: 15px;

        &.bordered {
            border: 1px solid #666;
            border-radius: 0.2em;
            padding: 15px;
        }

        h2 {
            font-size: 1.3em;
            text-transform: uppercase;
            margin: 0;
            font-weight: 300;
        }
    }
}

.teaser {
    display: flex;
    align-items: center;

    h1 {
        font-size: 1.8em;
        text-transform: uppercase;
        font-weight: 300;
        margin: 0;
    }

    div {
        flex: 1;
    }

    div:last-child {
        text-align: right;
        flex: none;
    }
}

.title {
    font-size: 2em;
    font-weight: 300;
    margin: 0.5em 0;
}

.line {
    height: 10px;
    background-color: #666;
    margin: 10px 0;

    @for $i from 1 through 10 {
        &:nth-child(#{$i}) {
            width: 95% + random(5);
        }
    }

    &:last-of-type {
        width: 30% + random(70);
        margin-bottom: 1em;
    }
}

.background {
    padding: 2em;
}

.background-inverse {
    background-color: #333;
    color: #fff;
}

.section-title {
    font-size: 3em;
    margin: 0.3em 0;
}

.demo-section {
    padding: 30px 0;
    border-bottom: 1px solid #f0f0f0;

    h2 {
        font-weight: 300;
        font-size: 2em;
        margin: 0.5em 0;
    }

    p {
        // margin: 0;
    }

    &:first-of-type {
        padding-top: 0;
    }
}

.table {
    border: 1px solid #666;
    border-collapse: collapse;

    td {
        border: 1px solid #666;
        padding: 5px 10px;
        min-width: 3em;
    }
}

.my-thought {
    border-left: 5px solid #DDD;
    padding-left: 1em;

    p {
        color: #777;
        font-size: 0.9em;
    }
}

.color-list {
    list-style: none;
    display: inline-block;
    text-align: center;

    li {
        margin: 5px 20px;
        float: left;
    }

    &::after {
        content: '';
        clear: both;
        display: table;
    }
}

.color-examples {
    // margin: 50px 0;
    > div {
        margin: 20px 0;
    }
}

.color {
    width: 32px;
    height: 32px;
    border-radius: 2px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
    background-color: $colorDefault;
    cursor: pointer;

    &.color-success {
        background-color: $colorSuccess;
    }

    &.color-warning {
        background-color: $colorWarning;
    }

    &.color-danger {
        background-color: $colorDanger;
    }

    &.color-secondary {
        background-color: $colorSecondary;
    }
}

pre {
    // white-space: pre-line;
    background-color: #444444;
    color: #eee;
    padding: 1em;
    font-family: Inconsolata;
    font-size: 0.9em;
    text-shadow: 0 1px 0 rgba(0,0,0,0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2) inset;
    border-radius: 3px;

    strong {
        color: #fff;
    }
}

.scene {
    background-color: #f3f3f3;
    padding: 75px 30px;
    text-align: center;
    box-shadow: 0 0 1px fade-out(#000, 0.7);
    // height: 100%;
}

.form-group {
    margin-bottom: 15px;

    label {
        display: block;
        text-transform: uppercase;
        font-size: 0.8em;
    }
}

.form-control {
    display: block;
    width: 100%;
    padding: 5px 3px;
    border-radius: 2px;
    border: 1px solid #d3d3d3;
}
