.button {
  border-color: #666;
  color: #666;
  font-family: 'Roboto';
  font-weight: 400;
  background: #fff;
  padding: 0.76em 1.24em;
  border: 1px solid #666;
  cursor: pointer;
  border-radius: 0.2em;
  text-transform: uppercase;
  font-size: 0.75em;
  line-height: 1em;
  -webkit-transition: background 0.12s ease-in-out;
  transition: background 0.12s ease-in-out;
  -webkit-transition-property: background-image, box-shadow, background-color, -webkit-transform;
  transition-property: background-image, box-shadow, background-color, -webkit-transform;
  transition-property: background-image, box-shadow, transform, background-color;
  transition-property: background-image, box-shadow, transform, background-color, -webkit-transform;
  box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  display: inline-block;
  text-decoration: none; }
  .button:hover {
    background-color: rgba(102, 102, 102, 0.05); }
  .button:active {
    background-color: rgba(87, 87, 87, 0.1);
    box-shadow: 0 4px 4px -3px rgba(0, 0, 0, 0.3);
    -webkit-transform: translateY(0.3px);
            transform: translateY(0.3px); }
  .button:focus {
    outline: none;
    box-shadow: 0 4px 4px -3px rgba(0, 0, 0, 0.5), 0 0 2px 1px #666; }
  .button:disabled {
    color: #8c8c8c;
    border-color: #999999;
    background-color: inherit;
    cursor: not-allowed;
    box-shadow: none; }
  .button.button-filled {
    background-color: #666;
    border-color: #5e5e5e;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15); }
    .button.button-filled:hover {
      background-color: #595959;
      border-color: #595959; }
    .button.button-filled:active {
      background-color: #525252;
      border-color: #525252;
      color: #fafafa; }
    .button.button-filled:disabled {
      border-color: gray;
      background-color: gray;
      text-shadow: none; }
  .button.button-light {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none; }
    .button.button-light:hover {
      background-color: rgba(102, 102, 102, 0.05); }
    .button.button-light:active {
      background-color: rgba(87, 87, 87, 0.1); }
    .button.button-light:focus {
      box-shadow: 0 4px 10px -4px rgba(0, 0, 0, 0.3); }
    .button.button-light:disabled {
      background-color: rgba(102, 102, 102, 0.05); }

.button-success {
  border-color: #8BC34A;
  color: #8BC34A; }
  .button-success:hover {
    background-color: rgba(139, 195, 74, 0.05); }
  .button-success:active {
    background-color: rgba(124, 179, 59, 0.1);
    box-shadow: 0 4px 4px -3px rgba(0, 0, 0, 0.3);
    -webkit-transform: translateY(0.3px);
            transform: translateY(0.3px); }
  .button-success:focus {
    outline: none;
    box-shadow: 0 4px 4px -3px rgba(0, 0, 0, 0.5), 0 0 2px 1px #8BC34A; }
  .button-success:disabled {
    color: #afce8c;
    border-color: #bcd59e;
    background-color: inherit;
    cursor: not-allowed;
    box-shadow: none; }
  .button-success.button-filled {
    background-color: #8BC34A;
    border-color: #84bf3f;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15); }
    .button-success.button-filled:hover {
      background-color: #7eb73d;
      border-color: #7eb73d; }
    .button-success.button-filled:active {
      background-color: #76ab39;
      border-color: #76ab39;
      color: #fafafa; }
    .button-success.button-filled:disabled {
      border-color: #a3c67a;
      background-color: #a3c67a;
      text-shadow: none; }
  .button-success.button-light {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none; }
    .button-success.button-light:hover {
      background-color: rgba(139, 195, 74, 0.05); }
    .button-success.button-light:active {
      background-color: rgba(124, 179, 59, 0.1); }
    .button-success.button-light:focus {
      box-shadow: 0 4px 10px -4px rgba(0, 0, 0, 0.3); }
    .button-success.button-light:disabled {
      background-color: rgba(135, 135, 134, 0.05); }

.button-warning {
  border-color: #FF9800;
  color: #FF9800; }
  .button-warning:hover {
    background-color: rgba(255, 152, 0, 0.05); }
  .button-warning:active {
    background-color: rgba(224, 134, 0, 0.1);
    box-shadow: 0 4px 4px -3px rgba(0, 0, 0, 0.3);
    -webkit-transform: translateY(0.3px);
            transform: translateY(0.3px); }
  .button-warning:focus {
    outline: none;
    box-shadow: 0 4px 4px -3px rgba(0, 0, 0, 0.5), 0 0 2px 1px #FF9800; }
  .button-warning:disabled {
    color: #f6b555;
    border-color: #f7c06e;
    background-color: inherit;
    cursor: not-allowed;
    box-shadow: none; }
  .button-warning.button-filled {
    background-color: #FF9800;
    border-color: #f08f00;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15); }
    .button-warning.button-filled:hover {
      background-color: #e68900;
      border-color: #e68900; }
    .button-warning.button-filled:active {
      background-color: #d68000;
      border-color: #d68000;
      color: #fafafa; }
    .button-warning.button-filled:disabled {
      border-color: #f5ab3d;
      background-color: #f5ab3d;
      text-shadow: none; }
  .button-warning.button-light {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none; }
    .button-warning.button-light:hover {
      background-color: rgba(255, 152, 0, 0.05); }
    .button-warning.button-light:active {
      background-color: rgba(224, 134, 0, 0.1); }
    .button-warning.button-light:focus {
      box-shadow: 0 4px 10px -4px rgba(0, 0, 0, 0.3); }
    .button-warning.button-light:disabled {
      background-color: rgba(191, 140, 64, 0.05); }

.button-danger {
  border-color: #f44336;
  color: #f44336; }
  .button-danger:hover {
    background-color: rgba(244, 67, 54, 0.05); }
  .button-danger:active {
    background-color: rgba(242, 40, 25, 0.1);
    box-shadow: 0 4px 4px -3px rgba(0, 0, 0, 0.3);
    -webkit-transform: translateY(0.3px);
            transform: translateY(0.3px); }
  .button-danger:focus {
    outline: none;
    box-shadow: 0 4px 4px -3px rgba(0, 0, 0, 0.5), 0 0 2px 1px #f44336; }
  .button-danger:disabled {
    color: #f18d85;
    border-color: #f4a29c;
    background-color: inherit;
    cursor: not-allowed;
    box-shadow: none; }
  .button-danger.button-filled {
    background-color: #f44336;
    border-color: #f33527;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15); }
    .button-danger.button-filled:hover {
      background-color: #f32c1e;
      border-color: #f32c1e; }
    .button-danger.button-filled:active {
      background-color: #f21f0f;
      border-color: #f21f0f;
      color: #fafafa; }
    .button-danger.button-filled:disabled {
      border-color: #ef776e;
      background-color: #ef776e;
      text-shadow: none; }
  .button-danger.button-light {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none; }
    .button-danger.button-light:hover {
      background-color: rgba(244, 67, 54, 0.05); }
    .button-danger.button-light:active {
      background-color: rgba(242, 40, 25, 0.1); }
    .button-danger.button-light:focus {
      box-shadow: 0 4px 10px -4px rgba(0, 0, 0, 0.3); }
    .button-danger.button-light:disabled {
      background-color: rgba(191, 113, 107, 0.05); }

.button-secondary {
  border-color: #2196F3;
  color: #2196F3; }
  .button-secondary:hover {
    background-color: rgba(33, 150, 243, 0.05); }
  .button-secondary:active {
    background-color: rgba(13, 135, 233, 0.1);
    box-shadow: 0 4px 4px -3px rgba(0, 0, 0, 0.3);
    -webkit-transform: translateY(0.3px);
            transform: translateY(0.3px); }
  .button-secondary:focus {
    outline: none;
    box-shadow: 0 4px 4px -3px rgba(0, 0, 0, 0.5), 0 0 2px 1px #2196F3; }
  .button-secondary:disabled {
    color: #71b7ef;
    border-color: #88c3f2;
    background-color: inherit;
    cursor: not-allowed;
    box-shadow: none; }
  .button-secondary.button-filled {
    background-color: #2196F3;
    border-color: #128ff2;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15); }
    .button-secondary.button-filled:hover {
      background-color: #0d8aee;
      border-color: #0d8aee; }
    .button-secondary.button-filled:active {
      background-color: #0c82df;
      border-color: #0c82df;
      color: #fafafa; }
    .button-secondary.button-filled:disabled {
      border-color: #5bacec;
      background-color: #5bacec;
      text-shadow: none; }
  .button-secondary.button-light {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none; }
    .button-secondary.button-light:hover {
      background-color: rgba(33, 150, 243, 0.05); }
    .button-secondary.button-light:active {
      background-color: rgba(13, 135, 233, 0.1); }
    .button-secondary.button-light:focus {
      box-shadow: 0 4px 10px -4px rgba(0, 0, 0, 0.3); }
    .button-secondary.button-light:disabled {
      background-color: rgba(92, 143, 185, 0.05); }

.button-merged {
  display: inline-block;
  border-collapse: collapse;
  box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.2); }
  .button-merged .button {
    display: inline;
    box-shadow: none;
    margin-right: -0.25rem; }
    .button-merged .button:focus {
      box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.2); }
  .button-merged .button:first-child:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0; }
  .button-merged .button:last-child:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }
  .button-merged .button + .button:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0; }
  .button-merged .button + .button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }

.button-icon {
  padding: 0.76em 0.76em; }
  .button-icon i {
    font-size: 0.99em; }
  .button-icon .fa {
    line-height: 0.95em; }

.a11y .button-success {
  background: -webkit-repeating-linear-gradient(135deg, transparent 0, rgba(139, 195, 74, 0.25) 1px, rgba(139, 195, 74, 0.25) 0.25em, transparent calc(.25em + 1px), transparent 0.75em);
  background: repeating-linear-gradient(-45deg, transparent 0, rgba(139, 195, 74, 0.25) 1px, rgba(139, 195, 74, 0.25) 0.25em, transparent calc(.25em + 1px), transparent 0.75em); }
  .a11y .button-success.button-filled {
    background: -webkit-repeating-linear-gradient(135deg, transparent 0, rgba(255, 255, 255, 0.25) 1px, rgba(255, 255, 255, 0.25) 0.25em, transparent calc(.25em + 1px), transparent 0.75em);
    background: repeating-linear-gradient(-45deg, transparent 0, rgba(255, 255, 255, 0.25) 1px, rgba(255, 255, 255, 0.25) 0.25em, transparent calc(.25em + 1px), transparent 0.75em);
    background-color: #8BC34A; }

.a11y .button-warning {
  background: -webkit-linear-gradient(315deg, rgba(255, 152, 0, 0.15) 0.25em, transparent 0);
  background: linear-gradient(135deg, rgba(255, 152, 0, 0.15) 0.25em, transparent 0);
  background-repeat: repeat;
  background-size: 0.53033em 0.53033em; }
  .a11y .button-warning.button-filled {
    background: -webkit-linear-gradient(315deg, rgba(255, 255, 255, 0.15) 0.25em, transparent 0);
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.15) 0.25em, transparent 0);
    background-repeat: repeat;
    background-size: 0.53033em 0.53033em;
    background-color: #FF9800; }

.a11y .button-danger {
  background: -webkit-linear-gradient(315deg, rgba(244, 67, 54, 0.25) 25%, transparent 25%) -50px 0, -webkit-linear-gradient(225deg, rgba(244, 67, 54, 0.25) 25%, transparent 25%) -50px 0, -webkit-linear-gradient(135deg, rgba(244, 67, 54, 0.25) 25%, transparent 25%), -webkit-linear-gradient(45deg, rgba(244, 67, 54, 0.25) 25%, transparent 25%);
  background: linear-gradient(135deg, rgba(244, 67, 54, 0.25) 25%, transparent 25%) -50px 0, linear-gradient(225deg, rgba(244, 67, 54, 0.25) 25%, transparent 25%) -50px 0, linear-gradient(315deg, rgba(244, 67, 54, 0.25) 25%, transparent 25%), linear-gradient(45deg, rgba(244, 67, 54, 0.25) 25%, transparent 25%);
  background-size: 1.414em 1.414em;
  background-position: -25px -25px; }
  .a11y .button-danger.button-filled {
    background: -webkit-linear-gradient(315deg, rgba(255, 255, 255, 0.25) 25%, transparent 25%) -50px 0, -webkit-linear-gradient(225deg, rgba(255, 255, 255, 0.25) 25%, transparent 25%) -50px 0, -webkit-linear-gradient(135deg, rgba(255, 255, 255, 0.25) 25%, transparent 25%), -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.25) 25%, transparent 25%);
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.25) 25%, transparent 25%) -50px 0, linear-gradient(225deg, rgba(255, 255, 255, 0.25) 25%, transparent 25%) -50px 0, linear-gradient(315deg, rgba(255, 255, 255, 0.25) 25%, transparent 25%), linear-gradient(45deg, rgba(255, 255, 255, 0.25) 25%, transparent 25%);
    background-size: 1.414em 1.414em;
    background-position: -25px -25px;
    background-color: #f44336; }

.a11y .button-secondary {
  background: -webkit-radial-gradient(0% 50% circle, transparent 9px, rgba(33, 150, 243, 0.25) 10px, transparent 11px) 0px 10px, -webkit-radial-gradient(at 100% 100%, transparent 9px, rgba(33, 150, 243, 0.25) 10px, transparent 11px);
  background: radial-gradient(circle at 0% 50%, transparent 9px, rgba(33, 150, 243, 0.25) 10px, transparent 11px) 0px 10px, radial-gradient(at 100% 100%, transparent 9px, rgba(33, 150, 243, 0.25) 10px, transparent 11px);
  background-size: 20px 20px; }
  .a11y .button-secondary.button-filled {
    background: -webkit-radial-gradient(0% 50% circle, transparent 9px, rgba(255, 255, 255, 0.25) 10px, transparent 11px) 0px 10px, -webkit-radial-gradient(at 100% 100%, transparent 9px, rgba(255, 255, 255, 0.25) 10px, transparent 11px);
    background: radial-gradient(circle at 0% 50%, transparent 9px, rgba(255, 255, 255, 0.25) 10px, transparent 11px) 0px 10px, radial-gradient(at 100% 100%, transparent 9px, rgba(255, 255, 255, 0.25) 10px, transparent 11px);
    background-size: 20px 20px;
    background-color: #2196F3; }

/* size */
.button-large {
  font-size: 0.95em; }

.button-small {
  font-size: 0.55em; }

/* thickness */
.button-thin {
  padding-top: 0.47em;
  padding-bottom: 0.47em; }

.button-fat {
  padding: 1.23em 1.24em; }

/* radius */
.button-sharp {
  border-radius: 1px; }

.button-rounded {
  border-radius: 0.4em; }

/* display */
.button-block {
  display: block;
  width: 100%; }

#intro {
  padding: 30px;
  background-color: #2196F3;
  color: #fafafa;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.2); }
  #intro p {
    margin: 0;
    font-weight: normal;
    font-size: 3.5em; }
  #intro p + p {
    font-weight: 300;
    font-size: 2.5em; }
  #intro s {
    position: relative;
    text-decoration: none; }
    #intro s:after {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 13px;
      background-color: rgba(51, 51, 51, 0.99);
      content: '';
      -webkit-transform: rotate(15deg);
              transform: rotate(15deg); }

.container {
  width: 750px;
  margin: 0 auto; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px; }

.col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 15px; }
  .col.h-center {
    text-align: center; }
  .col.v-center {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center; }

.center {
  text-align: center; }

.line {
  height: 10px;
  background-color: #666;
  margin: 10px 0; }
  .line:nth-child(1) {
    width: 97%; }
  .line:nth-child(2) {
    width: 96%; }
  .line:nth-child(3) {
    width: 96%; }
  .line:nth-child(4) {
    width: 96%; }
  .line:nth-child(5) {
    width: 97%; }
  .line:nth-child(6) {
    width: 98%; }
  .line:nth-child(7) {
    width: 98%; }
  .line:nth-child(8) {
    width: 100%; }
  .line:nth-child(9) {
    width: 98%; }
  .line:nth-child(10) {
    width: 100%; }
  .line:last-of-type {
    width: 100%;
    margin-bottom: 1em; }

.filter-protanopia {
  -webkit-filter: url("css/filters.svg#protanopia");
          filter: url("css/filters.svg#protanopia"); }

.filter-protanomaly {
  -webkit-filter: url("css/filters.svg#protanomaly");
          filter: url("css/filters.svg#protanomaly"); }

.filter-deuteranopia {
  -webkit-filter: url("css/filters.svg#deuteranopia");
          filter: url("css/filters.svg#deuteranopia"); }

.filter-deuteranomaly {
  -webkit-filter: url("css/filters.svg#deuteranomaly");
          filter: url("css/filters.svg#deuteranomaly"); }

.filter-tritanopia {
  -webkit-filter: url("css/filters.svg#tritanopia");
          filter: url("css/filters.svg#tritanopia"); }

.filter-tritanomaly {
  -webkit-filter: url("css/filters.svg#tritanomaly");
          filter: url("css/filters.svg#tritanomaly"); }

.filter-achromatopsia {
  -webkit-filter: url("css/filters.svg#achromatopsia");
          filter: url("css/filters.svg#achromatopsia"); }

.filter-achromatomaly {
  -webkit-filter: url("css/filters.svg#achromatomaly");
          filter: url("css/filters.svg#achromatomaly"); }

.color-list {
  list-style: none;
  display: inline-block;
  text-align: center; }
  .color-list li {
    margin: 5px 20px;
    float: left; }
  .color-list::after {
    content: '';
    clear: both;
    display: table; }

.color-examples > div {
  margin: 20px 0; }

.color {
  width: 32px;
  height: 32px;
  border-radius: 2px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
  background-color: #666;
  cursor: pointer; }
  .color.color-success {
    background-color: #8BC34A; }
    .a11y .color.color-success {
      background: -webkit-repeating-linear-gradient(135deg, transparent 0, rgba(255, 255, 255, 0.25) 1px, rgba(255, 255, 255, 0.25) 0.25em, transparent calc(.25em + 1px), transparent 0.75em);
      background: repeating-linear-gradient(-45deg, transparent 0, rgba(255, 255, 255, 0.25) 1px, rgba(255, 255, 255, 0.25) 0.25em, transparent calc(.25em + 1px), transparent 0.75em);
      background-color: #8BC34A; }
  .color.color-warning {
    background-color: #FF9800; }
    .a11y .color.color-warning {
      background: -webkit-linear-gradient(315deg, rgba(255, 255, 255, 0.15) 0.25em, transparent 0);
      background: linear-gradient(135deg, rgba(255, 255, 255, 0.15) 0.25em, transparent 0);
      background-repeat: repeat;
      background-size: 0.53033em 0.53033em;
      background-color: #FF9800; }
  .color.color-danger {
    background-color: #f44336; }
    .a11y .color.color-danger {
      background: -webkit-linear-gradient(315deg, rgba(255, 255, 255, 0.25) 25%, transparent 25%) -50px 0, -webkit-linear-gradient(225deg, rgba(255, 255, 255, 0.25) 25%, transparent 25%) -50px 0, -webkit-linear-gradient(135deg, rgba(255, 255, 255, 0.25) 25%, transparent 25%), -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.25) 25%, transparent 25%);
      background: linear-gradient(135deg, rgba(255, 255, 255, 0.25) 25%, transparent 25%) -50px 0, linear-gradient(225deg, rgba(255, 255, 255, 0.25) 25%, transparent 25%) -50px 0, linear-gradient(315deg, rgba(255, 255, 255, 0.25) 25%, transparent 25%), linear-gradient(45deg, rgba(255, 255, 255, 0.25) 25%, transparent 25%);
      background-size: 1.414em 1.414em;
      background-position: -25px -25px;
      background-color: #f44336; }
  .color.color-secondary {
    background-color: #2196F3; }
    .a11y .color.color-secondary {
      background: -webkit-radial-gradient(0% 50% circle, transparent 9px, rgba(255, 255, 255, 0.25) 10px, transparent 11px) 0px 10px, -webkit-radial-gradient(at 100% 100%, transparent 9px, rgba(255, 255, 255, 0.25) 10px, transparent 11px);
      background: radial-gradient(circle at 0% 50%, transparent 9px, rgba(255, 255, 255, 0.25) 10px, transparent 11px) 0px 10px, radial-gradient(at 100% 100%, transparent 9px, rgba(255, 255, 255, 0.25) 10px, transparent 11px);
      background-size: 20px 20px;
      background-color: #2196F3; }

.form-group {
  margin-bottom: 15px; }
  .form-group label {
    display: block;
    text-transform: uppercase;
    font-size: 0.8em; }

.form-control {
  display: block;
  width: 100%;
  padding: 5px 3px;
  border-radius: 2px;
  border: 1px solid #d3d3d3; }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  background-color: #fff;
  font-family: Catamaran, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #444;
  margin-top: 25px; }

.text {
  line-height: 1.5; }

.header-bar-menu {
  text-align: right;
  padding: 0.2em 0;
  font-size: 0.95em;
  position: fixed;
  width: 100%;
  background-color: #fff;
  top: 0;
  border-bottom: 3px solid #0c82df;
  z-index: 1;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  font-size: 0.75em;
  text-transform: uppercase; }
  .header-bar-menu > div {
    padding-top: 0.35em; }
  .header-bar-menu label {
    margin-right: 10px; }
  .header-bar-menu .pipe::after {
    content: '|';
    color: #d3d3d3;
    margin: 0 10px; }
  .header-bar-menu select {
    border: 1px solid #F3F3F3;
    background: none;
    padding: 3px;
    border-radius: 0.1em;
    display: inline-block; }

footer {
  background-color: #333;
  color: #fafafa;
  padding: 2em;
  text-align: center;
  font-size: 0.8em;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px -5px #000 inset; }
  footer a {
    color: orange;
    text-decoration: none; }

.articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
  text-align: left;
  font-size: 1rem; }
  .articles article {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: 15px; }
    .articles article.bordered {
      border: 1px solid #666;
      border-radius: 0.2em;
      padding: 15px; }
    .articles article h2 {
      font-size: 1.3em;
      text-transform: uppercase;
      margin: 0;
      font-weight: 300; }

.title {
  font-size: 2em;
  font-weight: 300;
  margin: 0.5em 0; }

.background {
  padding: 2em; }

.section-title {
  font-size: 3em;
  margin: 0.3em 0; }

.demo-section {
  padding: 30px 0;
  border-bottom: 1px solid #f0f0f0; }
  .demo-section h2 {
    font-weight: 300;
    font-size: 2em;
    margin: 0.5em 0; }
  .demo-section:first-of-type {
    padding-top: 0; }

.my-thought {
  border-left: 5px solid #DDD;
  padding-left: 1em; }
  .my-thought p {
    color: #777;
    font-size: 0.9em; }

pre {
  background-color: #444444;
  color: #eee;
  padding: 1em;
  font-family: Inconsolata;
  font-size: 0.9em;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2) inset;
  border-radius: 3px; }
  pre strong {
    color: #fff; }

.scene {
  background-color: #f3f3f3;
  padding: 75px 30px;
  text-align: center;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3); }
