<section class="header-bar"></section>

<section class="container">
    <section class="row">
        <div class="col">
            <section class="title">
                Buttons
            </section>
        </div>

        <div class="col v-center" style="text-align: right;">
            <a class="button button-light" ui-sref="home">Home</a>
            <a class="button button-light" ui-sref="explore">Explore</a>
            <a class="button button-light" href="#">Playground</a>
        </div>
    </section>
</section>
