@mixin button-variant($color) {
    border-color: $color;
    color: $color;

    &:hover {
        background-color: fade-out($color, 0.95);
    }

    &:active {
        background-color: fade-out(darken($color, 6%), 0.9);
        box-shadow: 0 4px 4px -3px fade-out(#000, 0.7);
        transform: translateY(0.3px);
    }

    &:focus {
        outline: none;
        box-shadow: 0 4px 4px -3px fade-out(#000, 0.5), 0 0 2px 1px $color;
    }

    &:disabled {
        color: lighten(desaturate($color, 10%), 15%);
        border-color: lighten(desaturate($color, 10%), 20%);
        background-color: inherit;
        cursor: not-allowed;
        box-shadow: none;
    }

    &.button-filled {
        background-color: $color;
        border-color: darken($color, 3%);
        color: #fff;
        text-shadow: 0 1px 0 rgba(0,0,0,0.15);

        &:hover {
            background-color: darken($color, 5%);
            border-color: darken($color, 5%);
        }

        &:active {
            background-color: darken($color, 8%);
            border-color: darken($color, 8%);
            color: #fafafa;
        }

        &:disabled {
            border-color: lighten(desaturate($color, 10%), 10%);
            background-color: lighten(desaturate($color, 10%), 10%);
            text-shadow: none;
        }
    }

    &.button-light {
        background-color: transparent;
        border-color: transparent;
        box-shadow: none;

        &:hover {
            background-color: fade-out($color, 0.95);
        }

        &:active {
            background-color: fade-out(darken($color, 6%), 0.9);
        }

        &:focus {
            box-shadow: 0 4px 10px -4px fade-out(#000, 0.7);
        }

        &:disabled {
            background-color: fade-out(desaturate($color, 50%), 0.95);
        }
    }
}
